#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore all .tfvars files, except template tpl.tfvars
# This ignores any local tfvar variants but keeps generic template (tpl.tfvars) file
*.tfvars
!*.tpl.tfvars

# Exclude account config file
**/account.json

# Exclude generated RDP file
*.rdp
!*.tpl.rdp

# secret files
**/.secrets/*
*secret*

# remote exec files
**/remote-files/*
